# Environment variables
.env
.dockerignore

/www/*
!/www/html/

### Docker ###
/.docker/certbot/logs/
/.docker/nginx/logs/

/etc/letsencrypt/*
/etc/nginx/sites-enabled/*
!/etc/nginx/sites-enabled/default.conf


### Mantém diretórios ###
!**/.gitkeep

### Visual Studio Code ###
/.vscode/*
/!.vscode/settings.json
/!.vscode/tasks.json
/!.vscode/launch.json
/!.vscode/extensions.json

### Globais ###
/.local
/.history
/.idea
/.cache
/.bash_history
**/*.bak
**/*.swp
**/.DS_store
